:root {
  --primery-color: rgb(53, 64, 223);
  --secondary-color: aqua;
  --primery-text-color: rgb(0, 183, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--secondary-color);
  background-color: var(--primery-color);
}

header {
  text-align: center;
  color: var(--secondary-color);
}

.container {
  margin: 2rem 3rem;
}
